* {
    margin: 0px;
    padding: 0px;
}

.partners-header-image {
    width: 50vh;
}

.card-title {
    font-weight: bold;
}

.card-subtitle {
    background-color: #f0f0f0;
}

.card {
    border: none;
    height: 19rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    margin: 0px;
}

.alibaba-logo {
    object-fit: fill;
}

.cards-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 0.5%;
}

.card1 {
    grid-row: 1/1;
    grid-column: 1/2;
}

.card2 {
    grid-row: 1/1;
    grid-column: 2/3;
}

.card3 {
    grid-row: 2/3;
    grid-column: 1/2;
}

.card4 {
    grid-row: 2/3;
    grid-column: 2/3;
}

.card5 {
    grid-row: 3/4;
    grid-column: 1/2;
}

.card6 {
    grid-row: 3/4;
    grid-column: 2/3;
}

.card7 {
    grid-row: 4/5;
    grid-column: 1/2;
}

.card8 {
    grid-row: 4/5;
    grid-column: 2/3;
}

.card9 {
    grid-row: 5/6;
    grid-column: 1/2;
}

.card10 {
    grid-row: 5/6;
    grid-column: 2/3;
}

.card11 {
    grid-row: 6/7;
    grid-column: 1/2;
}

.card12 {
    grid-row: 6/7;
    grid-column: 2/3;
}

.card13 {
    grid-row: 7/8;
    grid-column: 1/2;
}

.card14 {
    grid-row: 7/8;
    grid-column: 2/3;
}

.card15 {
    grid-row: 8/9;
    grid-column: 1/2;
}

.card16 {
    grid-row: 8/9;
    grid-column: 2/3;
}

.learningButton {
    width: 10rem;
    height: 3rem;
    background-image: linear-gradient(to left, #d54bae, #f1627a);
    color: #f0f0f0;
    border: none;
}

.arrow-image {
    width: 5vh;
}

.latest-courses {
    width: 100%;
    padding: 1%;
}

.satr-cards {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #ebe6fb;
}

.time {
    margin-bottom: 3%;
}

.courses-card-image {
    width: 20rem;
    height: 15rem;
    border: 1px solid #ebe6fb;
}

.form-input {
    display: grid;
    grid-template-columns: 1fr;
    width: 30%;
}

.input1 {
    grid-row: 1/1;
    grid-column: 1/2;
    width: 40%;
    height: 3rem;
    border: none;
    border-radius: 5px;
}

.input2 {
    grid-row: 1/1;
    grid-column: 2/2;
    width: 40%;
    height: 3rem;
    border: none;
    border-radius: 5px;
}

.email-subscribe {
    display: flex;
    justify-content: flex-start;
    width: 40%;
}

.input3 {
    grid-row: 1/1;
    grid-column: 1/1;
    width: 50%;
    height: 3rem;
    border: none;
    border-radius: 5px;
}

.news-letter {
    grid-row: 1/1;
    grid-column: 2/2;
    width: 30%;
    height: 3rem;
    border: none;
    border-radius: 20px;
    background-color: #4f29b7;
    color: white;
}